
$bg-when-active: #838383;
$bg-when-inactive: #ffffff;

.bg-when-active {
    background-color: $bg-when-active;
    transition: background-color 0.1s ease-in-out;
}

.bg-when-inactive {
    background-color: $bg-when-inactive;
    transition: background-color 0.1s ease-in-out;

    :hover {
        background-color: darken($bg-when-inactive, $amount: 5%);
        transition: background-color 0.1s ease-in-out;
    }

    :active {
        background-color: darken($bg-when-inactive, $amount: 20%);
        transition: background-color 0.1s ease-in-out;
    }
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border-bottom: #838383 1px solid;

    .nested-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px;

        .text-when-active {
            font-size: medium;
            color: white;
            transition: color 0.1s ease-in-out;
        }

        .text-when-inactive {
            font-size: medium;
            color: black;
            transition: color 0.1s ease-in-out;
        }

        .chevron {
          height: 24px;
          width: 24px;
        }

        .chevron-when-active {
          transform: rotate(90deg);
          transition: transform 0.1s ease-in-out;
          color: white;
        }

        .chevron-when-inactive {
          transform: rotate(0deg);
          transition: transform 0.1s ease-in-out;
          color: black;
        }

        &:hover.nested-wrapper {
            cursor: pointer;
        }
    }

    .nested-grid {
        padding: 16px;
        display: grid;
        grid-gap: 12px;
        grid-template-columns: auto auto;
    }
}
